# Игнорировать всё
*

# Но не игнорировать сам .gitignore
!.gitignore

# Явно включаем нужные конфиги
!.zshrc
!.tmux.conf
!.p10k.zsh
!gpu-fan-control.sh
!sync-git.sh
!restore-config.sh
!.config/
!.config/nvim/**
!.config/hypr/**
!.config/kitty/**
!.config/ghostty/**
!.config/rofi/
!.config/rofi/**
!.config/swaykbdd/**
!.config/neofetch/**
!.config/Cursor/User/keybindings.json
!.config/Cursor/User/settings.json
!.config/gtk-3.0/**
!.config/gtk-4.0/**
!.config/alacritty/**
!.config/scripts/**
!.config/sing-box/**
!.config/DankMaterialShell/**
!.config/niri/**

# Скрипты установки
!scripts/
!scripts/**

# README
!README.md
